<div class="margin">
  <div class="center">
  <h1>Latest videos</h1>
<% if @videos.any? %>


</div>
  <% @videos.each do |video| %>
    <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.uid %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <% if user_signed_in? and current_user.admin%>
      <%= link_to "Delete", video_path(video), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
    <%end %>
    </center>
  <% end %>
<% end %>
</div>

