
<div class="margin">
<p id="notice"><%= notice %></p>

<div class="center">
<h1>Upcoming Events</h1>

<div id="calendar"></div>

<br>
<% if user_signed_in? and current_user.admin%>
  <%= link_to 'New Event', new_event_path %>
<% end %>
</div>
</div>



