<div class="home">
<div class="margin">
<div class="static-info">
    <div class="center">
        <h1>AnyTime Photography</h1>
        <h2>By Ruth DiCristoforo</h2>
    </div>
    
    <div class="row">
        <div class="column left">
            <h2>About AnyTime</h2>
            <p>Long example text. This is literally just to see how it will look when there is a lot of text. I hope it looks alright. I don't know what else to type. Is this enough text? Who knows! Hollywoo stars and celebrities, do they know things, what do they know, let's find out!</p>
        </div>
        <div class="column right">
            <h2>About Ruth</h2>
            <p>Bio here about Ruth, talk about how/why she started the photography business</p>
        </div>
    </div>
    
</div>
</div>
</div>