<div class="home">
<div class="margin">
<div class="static-info">
    <div class="center">
        <h1>Tyler Fay</h1>
        <h2>Local Musician</h2>
    </div>
    
    <div class="row">
        <div class="column left">
            <h2>Column one</h2>
            <p>Long example text. This is literally just to see how it will look when there is a lot of text. I hope it looks alright. I don't know what else to type. Is this enough text? Who knows! Hollywoo stars and celebrities, do they know things, what do they know, let's find out!</p>
        </div>
        <div class="column right">
            <h2>Column two</h2>
            <p>See the latest videos <%= link_to 'here', "/videos#index" %>. I need long example text to test to see how it loooks</p>
        </div>
    </div>
    
</div>
</div>
</div>